//- default structure page

doctype html
html

	//- HTML HEADER
	head
		include head

	//- HTML BODY
	body#page-top.index

		//- BODY HEADER
		//- include NAVIGATION BAR
		include header

		//- The intro block should contain the intro of your template
		block intro

		//- The content block should contain the body of your templat
		block content


		//- FOOTER
		include footer

		//- JAVASCRIPT
		include footer-scripts
