
.navbar-default{
    background-color: $gray-darker;
    border-color:transparent
}


.navbar-default .navbar-brand{
    color: $brand-primary;;
    font-family: $font-family-sans-serif;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active{
    color: $brand-primary;
}


.navbar-default .navbar-collapse{
    border-color:rgba( $white,0.02)
}


.navbar-default .navbar-toggle{
    background-color: $brand-primary;;
    border-color: $brand-primary;
}


.navbar-default .navbar-toggle .icon-bar{
    background-color: $white
}


.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color: $brand-primary;
}


.navbar-default .nav li a{
    font-family: $font-family-sans-serif;
    text-transform:uppercase;
    font-weight:400;
    letter-spacing:1px;
    color: $white
}


.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus{
    color: $brand-primary;;
    outline:0
}


.navbar-default .navbar-nav>.active>a{
    border-radius:0;
    color: $white;
    background-color: $brand-primary;
}


.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    color: $white;
    background-color: $brand-primary;
}


@media (min-width:768px){

    .navbar-default{
        background-color:transparent;
        padding:25px 0;
        -webkit-transition:padding .3s;
        -moz-transition:padding .3s;
        transition:padding .3s;
        border:0
    }

    .navbar-default .navbar-brand{
        font-size:2em;
        -webkit-transition:all .3s;
        -moz-transition:all .3s;
        transition:all .3s
    }

    .navbar-default .navbar-nav>.active>a{
        border-radius:3px
    }

    .navbar-default.navbar-shrink{
        background-color: $gray-darker;
        padding:10px 0
    }

    .navbar-default.navbar-shrink .navbar-brand{
        font-size:1.5em
    }

}
