a,
a:hover,
a:focus,
a:active,
a.active{
	outline:0;
	transition:all ease .3s;
	-webkit-transition:all ease .3s;
	-moz-transition:all ease .3s	
}


// a{
// 	color: $link-color
// }


// a:hover,
// a:focus,
// a:active,
// a.active{
// 	color:#fec503
// }


h1,
h2,
h3,
h4,
h5,
h6{
	text-transform:uppercase;
}

