extends ./templates/structure

block intro
	//- Header
	header
		.container
			.intro-text
				.intro-lead-in Welcome To ...
				.intro-heading SPA JB Factory!
				a.page-scroll.btn.btn-primary.btn-xl(href='#services') Tell Me More


block content

	//- //- Services (services)
	include content-partial-jade/section-services

	//- Presentation (about)
	include content-partial-jade/section-about

	//- Portfolio Grid Section
	include content-partial-jade/section-portfolio

	//- Qui sommes nous? (team)
	include content-partial-jade/section-team

	//- Clients Aside
	include content-partial-jade/aside-clients


	//- Contact Section (contact)
	include content-partial-jade/section-contact
